{{- $mergedEnvVars := (include "perses.mergedEnvVars" . | fromYaml | default (list)) }}
{{- if and $mergedEnvVars (include "perses.shouldCreateEnvVarsSecret" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "perses.envVarsSecretName" . }}
  labels:
    {{- include "perses.labels" . | nindent 4 }}
    app.kubernetes.io/component: configuration
  {{- with .Values.config.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
{{- range $mergedEnvVars }}
  {{- if and (kindIs "map" .) (hasKey . "value") }}
  {{ .name | kebabcase }}: {{ .value | b64enc }}
  {{- end }}
{{- end }}
{{- end }}
