apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "perses.fullname" . }}
  labels:
    {{- include "perses.labels" . | nindent 4 }}
    app.kubernetes.io/component: configuration
  {{- with .Values.config.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  config.yaml: |-
    security:
      readonly: {{ .Values.config.security.readOnly }}
      enable_auth: {{ .Values.config.security.enableAuth }}
      {{- with .Values.config.security.cookie }}
      cookie:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.config.security.authentication }}
      authentication:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    database:
      {{- with .Values.config.database.file }}
      file:
        {{- toYaml . | nindent 8 }}
      {{ end -}}

      {{- with .Values.config.database.sql }}
      sql:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{ end -}}
    
    {{- with .Values.config.important_dashboards }}
    important_dashboards:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    
    {{- with .Values.config.schemas }}
    schemas:
      {{- toYaml . | nindent 6 }}
    {{- end }}

    {{- with .Values.config.provisioning }}
    provisioning:
      {{- toYaml . | nindent 6 }}
    {{- end }}
